<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.kotu.demo.azproducts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AzApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AZProducts">
        <activity
            android:name=".productdetail.ProductDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/Theme.AZProducts.NoActionBar" />
        <activity
            android:name=".products.ProductsActivity"
            android:exported="true"
            android:label="@string/title_activity_products"
            android:theme="@style/Theme.AZProducts.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AZProducts.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>